<h1>Your event has been created, <%= @user.full_name %>!</h1>
<p>
  your event name is: <%= @user.created_events.last.name %>.<br>
</p>
<p>
  Github Copilot: <%= @url %>.
</p>
<p>Thanks for using our app and have a great day!</p>
