<h1>Event Enrollments</h1>
<div id="enrollments">
  <% enrollments.each do |enrollment| %>
    <%= render partial: 'users/user', locals: { user: enrollment.user } %>
  <% end %>
</div>

<%= link_to "Users", users_path %>